{{ define "cart-list.html" }}
{{ range .items }}
<li class="list-group-item">
    <div class="card border-0">
        <div class="card-body row">
            <div class="col-4">
                <img src="{{ .picture }}" style="max-width: 100px;max-height: 50px" alt="">
            </div>
            <div class="col-8">
                <div class="mt-1">{{ .name }}</div>
                <div class="mt-1">Single Price: ${{ .price }}</div>
                <div class="mt-1">Quantity: {{ .quantity }}</div>
            </div>
        </div>
    </div>
</li>
{{ end }}
{{ end }}